* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: row;
    margin: 20px auto 0px auto;
    width: 25%;
}

.container h1 {
    margin-top: 30px;
    font-size: 22px;
}

.search-bar {
    padding: 5px 10px;
    border: 1px solid rgb(255, 166, 0);
    height: 40px;
    width: calc(100% - 60px);
    outline: none;
}

.search button {
    height: 40px;
    width: 40px;
    background-color: orange;
    color: white;
    border: none;
    margin: 0px 10px;
}

.meals-results h1 {
    text-align: center;
    margin: 20px 0px;
}

.meal-item {
    border-radius: 1rem;
    margin: 0rem 0rem;
    box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.meal-img img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
}

.meal-item h3 {
    text-align: center;
    margin-top: 5px;
}

.recipe-btn {
    color: white;
    background-color: orange;
    padding: 1rem 0rem;
    margin: 1rem auto;
    font-weight: 500;
    width: 7rem;
    display: block;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.meal-text {
    padding-bottom: 0.5rem;
}

.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem ;
    background: #fff;
    text-align: center;
}

.meal {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: orange;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    padding: 2rem 0rem;
    overflow-y: scroll;
    text-align: center;
    display: none;
}

.meal-details-content {
    margin: 2rem;
}

.showRecipe {
    display: block;
}

.close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem; 
    border: none;
    background-color: white;
    font-size: 1.8rem;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.meal-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.meal-category {
    display: inline-block;
    background-color: white;
    color: orange;
    font-weight: 500;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem;
}

.meal-details-content p {
    padding: 1rem 0;
}

.meal-instructions {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.meal-link a {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.4s linear;
    text-decoration: none;
}

.meal-link {
    margin: 1rem 0;
}

.meal-link a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

